#approvedRow {
    background-color: #6DDE73;
}

#waitingRow {
    background-color: #F1EB4D;
}
#rejectedRow {
    background-color: #DC755E;
}

table {
    width: 100%;
    margin-top:20%
}

table, th, td {
    border: 1px solid black;
}

#button_admin {
    align-items: center;
}
th, td {
    text-align: center;
}