<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>

    Admin


@*    <div>
        <p style="text-align: center;">
            <button>View Generated List</button>
            <button>Generate New List</button>
            <button>Print List</button>
        </p>

    </div>*@
</body>

</html>